<h1>Create a New Board</h1>

<form class="board">

  <label>Title:</label> <br>
    <input type="text" name="board[title]" value="">

  <br><br>

  <button name="button">Create Board</button>

</form>

<br>
<br>
<a href="#">Index</a>
