<h2>Board Show Page</h2>

<strong> Board ID: </strong> <%= model.escape('id') %> <br>
<strong> Board Title: </strong> <%= model.escape('title') %>
<br>
<button class="delete_board">Delete Board</button>

<br>

<h3>List</h3>
<ul class="lists">
</ul>

<br>
<br>
<button class="new_list">New List</button>

<div class="new">
</div>

<br>
<br>
<a href="#">Index</a>
