<h1> Add a Track </h1>

<% if flash.now[:errors] %>
<% flash.now[:errors].each do |error| %>
<li><%= error %></li>
<% end %>
<br>
<% end %>

<form action="<%= tracks_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="track_title">Track Title</label>
  <input id="track_title" type="text" name="track[title]" value="<% @track.title %>">
  <br>
  <br>

 <input type="radio" name="track">

  <input type="submit" value="Create Track">

</form>
