<h1>Log In</h1>

<% if flash[:errors] %>
  <ul>
  <% flash[:errors].each do |error| %>
    <li><%= error %></li>
  <% end %>
  </ul>
<% end %>

<%= flash[:notice]%>
<br>
<br>
<br>

<form action="<%= sessions_url %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="user_name">User Name</label>
  <input id="user_name" type="text" name="user[user_name]" value="<% @user.user_name %>">
  <br>
  <br>
  <label for="password">Password</label>
  <input id="password" type="text" name="user[password]">
  <br>
  <br>
  <button>Sign In</button>
</form>
